Repository timfee/cep-speck: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

ignore
  .gitignore
Due: none

refactor: simplify ContentOutlineStep by extracting reusable components
  reports/fta.json
  src/components/workflow/steps/ContentOutlineStep.tsx
  src/components/workflow/steps/components/ContentSection.tsx
  src/components/workflow/steps/components/ContentSectionComponents.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Refactor import statements for consistency and readability across multiple components and hooks
  .gitignore
  reports/fta.json
  src/components/workflow/steps/ContentOutlineStep.tsx
  src/components/workflow/steps/EnterpriseParametersStep.tsx
  src/components/workflow/steps/components/MultiSelectSection.tsx
  src/hooks/contentOutlineHelpers.ts
  src/hooks/progressCalculationHelpers.ts
  src/hooks/useStructuredWorkflow.ts
  src/hooks/workflowStateHelpers.ts
Due: eslint --fix --max-warnings=0, prettier --write

fix: update zod dependency version to 4.1.11 in package.json and pnpm-lock.yaml
  .gitignore
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: enhance guidance message for handling FTA cap violations to prevent technical debt
  scripts/check-fta-cap.mjs
Due: none

Refactor pre-commit and pre-push hooks for improved clarity and functionality
  .github/workflows/quality-gate.yml
  .husky/pre-commit
  .husky/pre-push
Due: none

Refactor workflow components and phases; implement OutlineEditor and useWorkflowActions hooks
  guides/functional_requirements.md
  guides/generation_flow_guide.md
  guides/prompts/drafter.md
  guides/prompts/evaluator.md
  guides/prompts/outliner.md
  guides/prompts/refiner.md
  guides/style_and_principles_guide.md
  guides/system_architecture_guide.md
  src/app/api/generate/route.ts
  src/app/api/run/route.ts
  src/components/workflow/AgenticPrdWizard.tsx
  src/components/workflow/OutlineEditor.tsx
  src/components/workflow/StructuredPrdWizard.tsx
  src/components/workflow/hooks/useWorkflowActions.ts
  src/components/workflow/phases/CompletePhase.tsx
  src/components/workflow/phases/DraftPhase.tsx
  src/components/workflow/phases/ErrorPhase.tsx
  src/components/workflow/phases/IdeaPhase.tsx
  src/components/workflow/phases/OutlinePhase.tsx
  src/components/workflow/phases/index.ts
  src/components/workflow/utils/phaseRegistry.tsx
  src/hooks/useAgenticWorkflow.ts
  src/lib/agents/drafter.ts
  src/lib/agents/evaluator.ts
  src/lib/agents/outliner.ts
  src/lib/agents/refiner.ts
  src/lib/agents/types.ts
  src/lib/agents/utils.ts
Due: eslint --fix --max-warnings=0, prettier --write

Checkpoint from VS Code for coding agent session
  package.json
  pnpm-lock.yaml
  src/components/ui/copy-button.tsx
  src/components/ui/spinner.tsx
  src/components/workflow/StructuredPrdWizard.tsx
  src/components/workflow/phases/CompletePhase.tsx
  src/components/workflow/steps/CompleteStep.tsx
  src/components/workflow/steps/ContentOutlineStep.tsx
  src/components/workflow/steps/EnterpriseParametersStep.tsx
  src/components/workflow/steps/GenerateStep.tsx
  src/components/workflow/steps/IdeaCaptureStep.tsx
  src/components/workflow/steps/StructureReviewStep.tsx
  src/components/workflow/steps/components/ContentSection.tsx
  src/components/workflow/steps/components/ContentSectionComponents.tsx
  src/components/workflow/steps/components/MultiSelectSection.tsx
  src/components/workflow/steps/components/RadioGroupSection.tsx
  src/components/workflow/steps/components/enterpriseOptions.ts
  src/hooks/useStructuredWorkflow.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Implement error handling components and workflow phases for PRD generation
  eslint-rules/component-organization.js
  eslint-rules/index.js
  eslint-rules/kebab-case-component-files.js
  eslint.config.mjs
  rename-files.sh
  src/components/error/error-display.tsx
  src/components/error/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add comprehensive issue templates for bug reports, feature requests, and validation items; update pull request template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/validation_item.md
  .github/pull_request_template.md
  .gitignore
Due: prettier --write

feat: Remove outdated safety manual and rename files script; add comprehensive streaming utilities tests
  guides/safety-manual.md
  rename-files.sh
  tests/integration/spec-streaming-utilities.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add comprehensive end-to-end and integration tests for streaming protocol
  eslint-rules/component-organization.js
  eslint-rules/index.js
  eslint-rules/kebab-case-component-files.js
  eslint.config.mjs
  jest.config.js
  src/app/(prd)/page.tsx
  src/app/page.tsx
  src/components/copilot-instructions.md
  src/components/error/error-display.tsx
  src/hooks/use-spec-validation.ts
  src/hooks/use-streaming-workflow.ts
  src/lib/error/__tests__/classification.test.ts
  src/lib/spec/__tests__/streaming.test.ts
  tests/end-to-end.ts
  tests/integration-streaming.test.ts
  tests/performance-streaming.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

refactor: Reorder import statements for consistency across streaming tests
  src/lib/spec/__tests__/streaming.test.ts
  tests/integration-streaming.test.ts
  tests/performance-streaming.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: Add devcontainer configuration and Dependabot setup
  .devcontainer/devcontainer.json
  .github/dependabot.yml
Due: prettier --write

refactor: Clean up devcontainer.json by removing commented features and ensuring proper configuration
  .devcontainer/devcontainer.json
Due: prettier --write

dev env
  .devcontainer/devcontainer.json
  .github/workflows/copilot-setup-steps.yaml
Due: prettier --write

.
  .eslintcache
  .github/copilot-instructions.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

.
  package.json
Due: prettier --write

refactor: update husky hooks to skip tests and linting during pre-commit and pre-push
  .eslintcache
  .husky/pre-commit
  .husky/pre-push
  src/components/ui/spinner-components.tsx
Due: eslint --fix --max-warnings=0, prettier --write

m
  src/components/ui/spinner.tsx
Due: eslint --fix --max-warnings=0, prettier --write

.
  src/components/error/circuit-breaker-utils.ts
  src/components/error/error-view-helpers.tsx
  src/components/ui/code-editor.tsx
  src/components/ui/spinner-animation-config.ts
  src/components/ui/typing-text.tsx
  tests/performance/streaming.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Align workflow serializer with SpecPack sections
  src/lib/serializers/workflow-to-spec.test.ts
  src/lib/serializers/workflow-to-spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Address serializer feedback
  src/lib/serializers/workflow-to-spec.test.ts
  src/lib/serializers/workflow-to-spec.ts
Due: eslint --fix --max-warnings=0, prettier --write

Finish PRD generation store integration
  .eslintcache
  .husky/pre-commit
  .husky/pre-push
  package.json
  scripts/check-fta-cap.mjs
  src/app/(prd)/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/ui/alert.tsx
  src/components/workflow/hooks/prd-generation-helpers.ts
  src/components/workflow/hooks/prd-generation-runner.ts
  src/components/workflow/hooks/prd-stream-utils.ts
  src/components/workflow/hooks/use-auto-generation.ts
  src/components/workflow/hooks/use-prd-generation-store.ts
  src/components/workflow/hooks/use-prd-generation.ts
  src/components/workflow/steps/generate-actions.tsx
  src/components/workflow/steps/generate-step-sections.tsx
  src/components/workflow/steps/generate-step.tsx
  src/components/workflow/steps/generation-feedback-alerts.tsx
  src/components/workflow/steps/generation-status-card.tsx
  src/components/workflow/steps/prd-preview.tsx
  src/components/workflow/steps/validation-issues-alert.tsx
  src/contexts/structured-workflow-context.tsx
  src/hooks/use-structured-workflow.ts
  src/lib/streaming/stream-processor.ts
  tests/performance/streaming.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor workflow serializer into modular sections
  src/app/(prd)/layout.tsx
  src/app/(prd)/page.tsx
  src/lib/serializers/workflow-to-spec.ts
  src/lib/serializers/workflow-to-spec/constants.ts
  src/lib/serializers/workflow-to-spec/formatters.ts
  src/lib/serializers/workflow-to-spec/metadata.ts
  src/lib/serializers/workflow-to-spec/normalization.ts
  src/lib/serializers/workflow-to-spec/placeholders.ts
  src/lib/serializers/workflow-to-spec/sections/cuj-section.ts
  src/lib/serializers/workflow-to-spec/sections/functional-requirements-section.ts
  src/lib/serializers/workflow-to-spec/sections/go-to-market-section.ts
  src/lib/serializers/workflow-to-spec/sections/goals-section.ts
  src/lib/serializers/workflow-to-spec/sections/index.ts
  src/lib/serializers/workflow-to-spec/sections/key-personas-section.ts
  src/lib/serializers/workflow-to-spec/sections/people-problems-section.ts
  src/lib/serializers/workflow-to-spec/sections/success-metrics-section.ts
  src/lib/serializers/workflow-to-spec/sections/technical-considerations-section.ts
  src/lib/serializers/workflow-to-spec/sections/tldr-section.ts
  src/lib/serializers/workflow-to-spec/strings.ts
  src/lib/serializers/workflow-to-spec/types.ts
  tests/lib/serializers/workflow-to-spec.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add inline outline editors
  package.json
  pnpm-lock.yaml
  src/components/workflow/steps/__tests__/content-outline-step.test.tsx
  src/components/workflow/steps/components/content-section.tsx
  src/components/workflow/steps/components/content-sections-config.tsx
  src/components/workflow/steps/components/content-sections.tsx
  src/components/workflow/steps/components/empty-state.tsx
  src/components/workflow/steps/components/inline-editor-panel.tsx
  src/components/workflow/steps/components/item-card.tsx
  src/components/workflow/steps/components/section-header.tsx
  src/components/workflow/steps/components/section-items.tsx
  src/components/workflow/steps/content-outline-helpers.ts
  src/components/workflow/steps/content-outline-step.tsx
  src/components/workflow/steps/functional-requirement-helpers.ts
  src/components/workflow/steps/hooks/functional-requirement-form.tsx
  src/components/workflow/steps/hooks/milestone-form.tsx
  src/components/workflow/steps/hooks/outline-editor-callbacks.ts
  src/components/workflow/steps/hooks/outline-editor-config.ts
  src/components/workflow/steps/hooks/outline-editor-manager.ts
  src/components/workflow/steps/hooks/outline-editor-state.ts
  src/components/workflow/steps/hooks/outline-editor-types.ts
  src/components/workflow/steps/hooks/outline-form-shared.tsx
  src/components/workflow/steps/hooks/success-metric-form.tsx
  src/components/workflow/steps/hooks/use-outline-step-handlers.ts
  src/components/workflow/steps/milestone-helpers.ts
  src/components/workflow/steps/outline-text-utils.ts
  src/components/workflow/steps/success-metric-helpers.ts
Due: eslint --fix --max-warnings=0, prettier --write

Improve outline ID generation and testing types
  src/components/workflow/steps/__tests__/content-outline-step.test.tsx
  src/components/workflow/steps/components/content-sections-config.tsx
  src/components/workflow/steps/functional-requirement-helpers.ts
  src/components/workflow/steps/hooks/use-outline-step-handlers.ts
  src/components/workflow/steps/milestone-helpers.ts
  src/components/workflow/steps/outline-id.ts
  src/components/workflow/steps/success-metric-helpers.ts
  src/types/testing-library-react.d.ts
  src/types/testing-library-user-event.d.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refine drafter API ergonomics and share clipboard helpers
  src/app/api/run/utils.ts
  src/components/ui/copy-button.tsx
  src/components/workflow/hooks/use-generate-step.ts
  src/components/workflow/steps/complete-step.tsx
  src/components/workflow/steps/hooks/metric-field-editor.tsx
  src/components/workflow/steps/hooks/metric-schema-form-state.ts
  src/components/workflow/steps/hooks/metric-schema-form.tsx
  src/components/workflow/steps/hooks/metric-schema-utils.ts
  src/hooks/use-clipboard.ts
  src/lib/agents/README.md
  src/lib/agents/drafter.ts
  src/lib/agents/index.ts
  src/lib/agents/integration-example.ts
  src/lib/agents/workflow/draft.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update tests/integration/outline-streaming-integration.test.ts
  tests/integration/outline-streaming-integration.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Update src/components/workflow/steps/components/outline-metadata-panel.tsx
  src/components/workflow/steps/components/outline-metadata-panel.tsx
Due: eslint --fix --max-warnings=0, prettier --write

feat: raise FTA caps with diagnostics
  .gitignore
  docs/safety-manual.md
  reports/fta.base.json
  scripts/check-fta-cap.mjs
  scripts/compare-fta.mjs
  scripts/fta-config.mjs
  src/components/workflow/steps/entity-factory.ts
  src/hooks/content-editing-utils.ts
  src/hooks/content-outline-generation.ts
  src/hooks/use-content-editing.ts
  src/hooks/workflow-navigation.ts
  src/hooks/workflow-state.ts
  src/lib/spec/test-utils/frame-creators.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor structured workflow orchestration
  src/components/workflow/step-renderer.tsx
  src/components/workflow/steps/generate-step.tsx
  src/components/workflow/structured-workflow-context.tsx
  src/components/workflow/wizard-navigation.tsx
  src/hooks/__tests__/use-structured-workflow.test.tsx
  src/hooks/use-outline-generation.ts
  src/hooks/use-structured-workflow.ts
  src/hooks/workflow-navigation.ts
  src/hooks/workflow-state.ts
  tests/lib/workflow-navigation.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Add tests for content editing and shared workflow forms
  jest.config.js
  src/components/workflow/steps/hooks/__tests__/outline-editor-config.test.ts
  src/components/workflow/steps/hooks/__tests__/outline-forms.test.tsx
  src/hooks/__tests__/use-content-editing.test.ts
  src/test-utils/workflow-fixtures.ts
Due: eslint --fix --max-warnings=0, prettier --write

Fix outline factory defaults overriding sanitized inputs
  src/components/workflow/steps/entity-factory.ts
  src/components/workflow/steps/hooks/__tests__/outline-editor-config.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Inline workflow and agent exports
  src/app/api/refine.ts
  src/components/workflow/steps/content-outline-step.tsx
  src/components/workflow/steps/content-outline-summary.ts
  src/components/workflow/steps/generate-step-actions.tsx
  src/components/workflow/steps/generate-step-sections.tsx
  src/components/workflow/steps/generate-step-status.tsx
  src/components/workflow/steps/hooks/outline-editor-config.ts
  src/lib/agents/index.ts
  src/lib/agents/integration-example.ts
  src/lib/spec/helpers/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor workflow types into modular structure
  src/components/workflow/progress-timeline-step.tsx
  src/components/workflow/progress-timeline.tsx
  src/components/workflow/steps/hooks/__tests__/outline-editor-config.test.ts
  src/components/workflow/steps/hooks/__tests__/outline-forms.test.tsx
  src/config/workflow/enterprise.ts
  src/config/workflow/sections.ts
  src/config/workflow/steps.ts
  src/hooks/__tests__/use-content-editing.test.ts
  src/hooks/__tests__/use-structured-workflow.test.tsx
  src/hooks/progress-calculation.ts
  src/hooks/workflow-initial-state.ts
  src/hooks/workflow-navigation.ts
  src/hooks/workflow-state.ts
  src/lib/agents/evaluator.test.ts
  src/lib/agents/refiner.test.ts
  src/types/workflow.ts
  src/types/workflow/enterprise.ts
  src/types/workflow/index.ts
  src/types/workflow/outline.ts
  src/types/workflow/sections.ts
  src/types/workflow/state.ts
  tests/components/content-outline-step.test.tsx
  tests/integration/outline-streaming-integration.test.ts
Due: eslint --fix --max-warnings=0, prettier --write

Allow direct spec helper imports
  eslint.config.mjs
  src/lib/spec/helpers/helpers.test.ts
  src/lib/spec/items/banned-text.ts
  src/lib/spec/items/label-pattern.ts
  src/lib/spec/items/metrics-required.ts
  src/lib/spec/items/placeholder-quality.ts
  src/lib/spec/items/section-count.ts
Due: eslint --fix --max-warnings=0, prettier --write

Refactor outline draft forms around shared hook
  src/components/workflow/steps/hooks/__tests__/use-outline-draft-form.test.tsx
  src/components/workflow/steps/hooks/customer-journey-form.tsx
  src/components/workflow/steps/hooks/functional-requirement-form.tsx
  src/components/workflow/steps/hooks/metric-schema-form-state.ts
  src/components/workflow/steps/hooks/metric-schema-form.tsx
  src/components/workflow/steps/hooks/milestone-form.tsx
  src/components/workflow/steps/hooks/outline-form-fields.ts
  src/components/workflow/steps/hooks/success-metric-form.tsx
  src/components/workflow/steps/hooks/use-outline-draft-form.tsx
Due: eslint --fix --max-warnings=0, prettier --write

Path conditions:
  eslint --fix --max-warnings=0: (any of: *.{ts,tsx}) or (any of: src/**/*.{js,jsx})
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md}
